*,
*::before,
*::after {
  box-sizing: border-box;
  
}

body {
  background-color: rgb(37, 150, 190);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.title {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 5rem;
  color: beige;
  letter-spacing: 1rem;
  margin-bottom: .5%;
  padding-left: 4%;
  margin-top: .5%;
  text-shadow: .5px .5px 2px black;
}

.settings {
  display: flex;
  flex-direction: column;
  width: 138px;
  position: absolute;
  margin-left: 12%;
  margin-top: 8%;
  text-align: center;
}

/* Btns */
#button-blue {
  font-family: 'Bangers', cursive;
  border-radius: 4px;
  padding: .5rem;
  font-size: 1.2rem;
  margin-bottom: 7%;
  border: none;
  letter-spacing: .1rem;
  box-shadow: 0 0 2px;
}

#button-rainbow {
  font-family: 'Bangers', cursive;
  border-radius: 4px;
  padding: .5rem;
  font-size: 1.2rem;
  margin-top: 7%;
  margin-bottom: 7%;
  border: none;
  letter-spacing: .1rem;
  box-shadow: 0 0 2px;
}

#button-eraser {
  font-family: 'Bangers', cursive;
  border-radius: 4px;
  padding: .5rem;
  font-size: 1.2rem;
  margin-top: 7%;
  margin-bottom: 5%;
  border: none;
  letter-spacing: .1rem;
  box-shadow: 0 0 2px;
}

#button-reset {
  font-family: 'Bangers', cursive;
  border-radius: 4px;
  padding: .5rem;
  font-size: 1.2rem;
  margin-top: 10%;
  margin-bottom: 5%;
  border: none;
  letter-spacing: .1rem;
  box-shadow: 0 0 2px;
}

.active-Btn {
  font-family: 'Bangers', cursive;
  border-radius: 4px;
  color: beige;
  background-color: black;
  padding: .6rem;
  font-size: 1.2rem;
  margin-bottom: 7%;
  border: none;
  letter-spacing: .1rem;
  box-shadow: 0 0 2px;
}


button:hover {
  width: 110%;
}
/* Btns END */

/* RANGE SLIDER */
.rangeSlider {
  width: 100%;
  margin-top: 18%;
}

.mySlider {
  -webkit-appearance: none;
  background: white;
  width: 100%;
  height: 3%;
  opacity: 2;
  border-radius: 10px;
  box-shadow: 0 0 4px;
 }

 .mySlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  background: black;
  width: 14%;
  height: 2.7vh;
  border-radius: 15px;
  box-shadow: 0 0 4px;
}

#sliderText {
  font-family: 'Bangers', cursive;
font-size: 1.5rem;
background-color: white;
padding-left: 5%;
padding-right: 6%;
border-radius: 5px;
box-shadow: 0 0 1px;
}
/* RANGE SLIDER END*/

#paper {
  background-color: beige;
  height: 500px;
  max-height: 900px;
  width: 500px;
  max-width: 800px;
 display: grid;
 margin-left: auto;
 margin-right: auto;
margin-top: 0;
margin-bottom: 0;
box-shadow: 0 0 3px;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#grid-item {
 user-select: none;
}

/*MEDIA QUERIES ---
AS SCREEN GETS SMALLER  1---- */
@media (max-width: 1165px){
  #button-blue {
    font-size: .9rem;
    letter-spacing: .1rem;
  }
  
  #button-rainbow {
    font-size: .9rem;
    letter-spacing: .1rem;
  }
  
  #button-eraser {
    font-size: .9rem;
    letter-spacing: .1rem;
  }
  
  #button-reset {
    font-size: .9rem;
    letter-spacing: .1rem;
  }
  #paper {
    width: 400px;
    height: 400px;
  }
  .mySlider {
    height: 1.8vh;
  }
  .mySlider::-webkit-slider-thumb {
    width: 13%;
    height: 2.8vh;
    border-radius: 16px;
}
}

/* -----  2 */
@media (max-width: 950px) {
  #paper {
    width: 360px;
    height: 360px;
  }
  .settings {
    margin-left: 5%;
    margin-top: 120px;
  }
}

/* -----  3 */
@media (max-width: 800px) {
  #paper {
    width: 330px;
    height: 330px;
    margin-right: 120px;
  }
  .settings {
    margin-left: 2%;
    margin-top: 120px;
  }
  #button-blue {
    font-size: .7rem;
    letter-spacing: .1rem;
  }
  
  #button-rainbow {
    font-size: .7rem;
    letter-spacing: .1rem;
  }
  
  #button-eraser {
    font-size: .7rem;
    letter-spacing: .1rem;
  }
  
  #button-reset {
    font-size: .7rem;
    letter-spacing: .1rem;
  }
}

/* -----  4 */
@media (max-width: 653px) {
  .settings {
    position: relative;
    width: 138px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
order: 3;
  }
.title {
  font-size: 2.7rem;
  letter-spacing: .5rem;
}
#sliderText {
font-size: 1rem;
}
.rangeSlider {
  margin-top: 4%;
    }
    #paper {
      margin-top: 10px;
      width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    order: 2;
    }
}

/* -----  5 */
@media (max-width: 428px) {
.title {
  font-size: 2rem;
  letter-spacing: .5rem;
}
}

/* AS SCREEN GETS WIDER -----   */
@media (min-width: 1500px) {
  #paper {
    width:580px;
    height: 580px;
  }
  .settings {
    margin-left: 20%;
    margin-top: 120px;
  }
  .mySlider {
    height: 2vh;
  }
  .rangeSlider {
margin-top: 10%;
  }
  #button-blue {
    font-size: .7rem;
    letter-spacing: .1rem;
  }
  
  #button-rainbow {
    font-size: .7rem;
    letter-spacing: .1rem;
    overflow-wrap: break-word;
  }
  
  #button-eraser {
    font-size: .7rem;
    letter-spacing: .1rem;
  }
  
  #button-reset {
    font-size: .7rem;
    letter-spacing: .1rem;
  }
}
/* -----   */